@import url(./var.css);

* {
  margin: 0;
}
/* main */
body {
  background-color: var(--color-light-blue);
}
.book-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.book-container {
  display: flex;
  flex-direction: column;
}

.book-container h3 {
  text-align: center;
  margin: 16px;
  margin-bottom: 64 px;
}

.book-container label {
  margin-bottom: 8px;
}

.book-container > select {
  margin-bottom: 16px;
}

.book-container select:last-child {
  margin-bottom: 32px;
}

.book-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.book-info-container__start,
.book-info-container__end {
  margin-bottom: 16px;
}

.book-info-container input {
  width: 100px;
}

.submit-container {
  display: flex;
  flex-direction: column;
}

.submit-container__start {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.submit-container__start button {
  padding: 10px;
  width: 100px;
}

.submit-container__start button:first-child {
  margin-right: 16px;
}

.submit-container__end {
  display: flex;
  justify-content: center;
}

.submit-container__end input {
  padding: 10px;
  width: 100px;
}

iframe {
  position: absolute;
  bottom: 0;
}
