@import url(./var.css);

* {
  margin: 0rem;
  text-decoration: none;
}
ul {
  padding: 0;
}

.header {
  margin-bottom: 100px;
}

.logo {
  font-size: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
}
.body {
  height: fit-content;
  display: flex;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

span {
  color: white;
  font-weight: 800;
}
h1 {
  color: white;
  font-weight: 800;
  padding-left: 5rem;
}

.body-left,
.body-right {
  width: 40%;
}

#email {
  width: 100%;
}

#password {
  width: 100%;
}

.body-left > ul {
  /* margin: auto; */
  padding-top: 3.125rem;
  text-align: right;
  list-style: none;
}
.body-right > ul {
  /* margin: auto; */
  text-align: left;
  padding-top: 3.125rem;
  list-style: none;
}
.body-bottom {
  width: 100% auto;
  text-align: center;
  margin-bottom: 32px;
}
li,
button {
  margin: auto;
  list-style: none;
  margin-bottom: 1rem;
}

.email-container li:first-child {
  display: flex;
  justify-content: flex-start;
}
.email-container li:last-child {
  display: flex;
  justify-content: flex-start;
}
.password-container li:last-child {
  display: flex;
  justify-content: flex-end;
}
.find-password {
  color: var(--color-bright-green);
}

@media screen and (max-width: 425px) {
  .header {
    margin: 0;
  }

  .body {
    flex-direction: column;
  }

  .body-left {
    width: 100%;
  }

  .body-right {
    width: 100%;
  }
}

ul input:not([type="radio"]):hover {
  border-color: var(--color-light-green);
}
li input:checked + label {
  color: red;
  font-weight: bold;
}
li .find-password:hover {
  font-weight: bold;
}
div button:hover {
  color: red;
}
div .member:hover {
  color: red;
}

.footer {
  position: absolute;
  bottom: 0;
}
