@import url(./var.css);
/* sign-up*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

form {
  margin: 0;
  width: 100%;
  height: 1000px;
  padding: 20px;
}

ul{
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

li,
h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  list-style: none;
}

input {
  width: 500px;
  height: 30px;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin: 0;
  background-color: var(--color-bright-violet);
  position: relative;
}

.title {
  margin: 0px;
  padding: 20px;
  color: white;
  position: absolute;
  bottom: 20px;
}

.usre-name {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.usre-name > div {
  width: 48%;
  padding: 0;
  padding: 5px;
}

.usre-name input {
  width: 100%
}



.robot {
  border: 1px solid;
  /* width: fit-content; */
  /* padding: 10px 100px 25px 100px;
  width: 150px;
  height: 50px; */
  text-align: center;
  font-size: large;
}

.sign-up {
  text-align-last: center;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
img {
  object-fit: cover;
}
.border {
  width: 0px;
}
.login {
  text-align-last: center;
}
.img-a {
  object-fit: cover;
  padding: 1px 1px 1px 100px;
}

@media screen and (max-width: 426px) {
  ul {
    width: 80%;
  }
}