@import url(./var.css);
/* tour-couse.css */

* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  float: left;
  width: 80%;
}

/* 테마 */
.container {
  width: 80%;
  margin: 50px auto;
}

.container__title {
  /* color: var(); */
  margin: 20px;
  height: 40px;
  font-size: 30px;
  /* border: 1px solid; */
}

#tour_info{
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}


/* img+text flex-box */
.content {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;  
  display: flex;
  flex-direction: row;
  /* background-color: var(--color-light-violet); */
}

.content__image {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.content__text {
  width: 50%;
  height: 300px;
  padding: 20px;
  /* border: 1px solid; */
  overflow: hidden;
}

.content__text > h3 {
  color:var(--color-bright-violet)
}

.text__detail{
  text-align: justify;
}

.text__detail--highlight{
  font-weight: 900;
}

/* 숙소 */
#rooms_info {
  margin-top: 50px;
}

#rooms_list{
  list-style: none;
  padding: 0;
  width: 100%;
  height: 300px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.room_card {
  /* float: left; */
  position: relative;
  overflow: hidden;
  margin: 10px;
  flex-wrap: nowrap;
}

.room_card__img{
  width: 100%;
  height: 100%;
  float: left;
  z-index: 5;
  object-fit: cover;
}

.room_card__text{
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 10px;

  background: rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.6s ease-in;
  z-index: 10;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room_card__text > h1 {
  font-size: 25px;
  margin: 10px 0;
}

.room_card__text > p {
  font-size: 15px;
}

.room_card:hover{
  transform: translateY(-10px);
}

.room_card:hover .room_card__text {
  opacity: 1;
}

/* 예매 버튼 */
#form_mobile {
  display: none;
}


/* 예매창 */
.rsv_container {
  width: 20%;
  height: 100%;
  padding: 30px 40px;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #eee;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1);
}

.rsv_container__title {
  font-size: 25px;
  margin: 10px 0;
}

#rsv_container__form {
  position: relative;
}

/* grid 사용 */
.form__optionbox {
  display: grid;
  grid-template-rows: repeat(4, 60px);
  font-size: 16px;
}

#form__course, #form__room {
  margin: 10px 0;
  padding: 5px;
}

#form__personnalbox, #form__datebox {
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr 2fr;
}

#form__personnalbox > label, #form__datebox > label {
  grid-column: 1/2;
  margin: 10px 0;
}

#form__personnalbox > input, #form__datebox > input {
  padding: 10px;
  grid-column: 2/4;
  border: 1px solid;
}

.form__btnbox {
  display: grid;
  grid-template-rows: repeat(3, 60px);
  font-size: 16px;
}

.rsv_container__form button {
  color: black;
  margin: 10px 0;
  border: 1px solid black;
  background-color: var(--color-light-green);
}

#form__rsv {
  color: balck;
  font-weight: 900;
  background-color: var(--color-bright-green);
}

@media screen and (max-width: 426px){
  iframe {
    width: 100%;
  }
  
  main {
    width: 100%;
    float: none;
    /* background-color: #eee; */
  }
  /* 테마 */
  .container {
    width: 80%;
    margin: 30px auto;
    /* background-color: #eee; */
  }

  .container__title {
    font-size: 5vw;
    margin: 0;
    height: 30px;
    overflow:hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    /* background-color: #aaa; */
  }
  
  .content__image {
    margin: 0;
    width: 100%;
  }

  .content__text {
    width: 100%;
    padding: 20px;
    background-color: #eee;
    /* border: 1px solid; */
    overflow: scroll;
  }

  .content__text > h3 {
    font-size: 15px;
    color:#70910d
  }

  .text__detail{
    font-size: 11px;
    text-align: justify;
  }
  

  /* 숙소 */
  #rooms_info {
    margin-top: 30px;
  }

  #rooms_list{
    list-style: none;
    padding: 0;
    width: 100%;
    height: 360px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .room_card__text > h1 {
    font-size: 20px;
  }

  .room_card__text > p {
    font-size: 11px;
  }

  .room_card {
    overflow: hidden;
    margin: 10px;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  
  /* 예매버튼 */
  #form_mobile {
    width: 100%;
    display: block;
  }

  #btn_mobile {
    position: fixed;
    bottom: 50px;
    right: 10%;
    width: 30%;
    height: 30px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 900;
    color: #000;
    background-color: #94c500;
  }

  /* 예매창 */
  .rsv_container {
    display: none;
  }

}