@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --color-light-blue: #ebf4fb;
  --color-sky-blue: #b6efff;
  --color-blue: #567ff2;
  --color-light-beige: #fcf3e8;
  --color-light-green: #b2e7c9;
  --color-bright-green: #30c690;
  --color-light-violet: #efe0f5;
  --color-bright-violet: #5e0d84;
  --space-side-default: 16px;
  --space-upside-default: 32px;
  --space-side-mobile: 8px;
  --font-size-mid: 24px;
  --font-size-small: 16px;
}
