<head>
  <link rel="stylesheet" href="../../css/components/header.css" />
  <script
    src="https://kit.fontawesome.com/fccb424d55.js"
    crossorigin="anonymous"
  ></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <header class="header-container">
    <div class="start">
      <a href="../../index.html" target="main">
        <div class="logo">
          <i class="fa-solid fa-dog fa-bounce"></i><span>어디가개?</span>
        </div>
      </a>
    </div>
    <div class="mid">
      <div class="input-container">
        <input class="header-search" type="text" placeholder="Search here..." />
        <a href="#" target="main">
          <i class="fa-solid fa-magnifying-glass"></i
        ></a>
      </div>
    </div>
    <div class="end">
      <a href="../login.html" target="main"><span>Login</span></a>
    </div>
  </header>
</body>
