@import url(../var.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* footer */
footer {
  background-color: var(--color-light-beige);
  margin-top: var(--space-upside-default);
  height: 64px;
  display: flex;
  align-items: center;
}

.footer-text {
  margin: 0px var(--space-side-default);
}
