@import url(../var.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* header */
.header-container {
  background-color: var(--color-bright-violet);
  height: 72px;
  display: flex;
  align-items: center;
}

header {
  font-size: 24px;
}

.start,
.end {
  width: 25%;
}

.start {
  padding-left: var(--space-side-default);
  display: flex;
  justify-content: flex-start;
}

.logo i {
  color: var(--color-light-green);
  margin-right: 8px;
}

.logo span {
  color: white;
  font-weight: 800;
}

.mid {
  width: 50%;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.header-search {
  padding: 8px 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.input-container a {
  position: absolute;
  right: 12px;
  font-size: 20px;
}

.end {
  padding-right: var(--space-side-default);
  display: flex;
  justify-content: flex-end;
}
.end span {
  color: white;
}

@media screen and (max-width: 426px) {
  .header-container {
    font-size: 20px;
  }

  .start {
    width: 50%;
    padding-left: var(--space-side-default);
  }
  .mid {
    display: none;
  }
  .end {
    width: 50%;
    padding-right: var(--space-side-default);
  }

  .input-container {
    width: 80%;
  }
}
header .logo i:active {
  color: var(--color-light-violet);
}
header .end a:active {
  color: black;
}
